@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    <h1 class="display-4">Runing on K3S cluster with GitOps process</h1>
    <a target="_blank" href="https://github.com/wanglvhang/k3s-gitops-project-template">k3s-gitops-project-template</a>
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
